/*reset*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/assets/images/Untitled-3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    margin: 0 60px;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.active{
    color: #19dafa !important;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.banner{
    width: 80%;
    height: 30%;
    top: 30%;
    left: 120px;
    position: absolute;
    color: #fff;
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.app-text h1 span{
    color: #19dafa;
}
.app-text p{
    width: 650px;
    font-size: 20px;
    margin: 5px 0 10px 35px;
    line-height: 25px;
    color: #CDF1FF;
}
.app-picture{
    width: 40%;
    float: right;
}
.app-picture img{
    width: 100%;
    margin-top: -20px;
    padding-left: 60px;
}
.play-btn{
    margin-left: 50px;
    display: inline-flex;
}
.play-btn-inner{
    height: 50px;
    width: 100px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}
.play-btn-inner .fa{
    padding: 18px 0;
    font-size: 16px;
    cursor: pointer;
    color: #19dafa;
}
nav .fas{
    display: none;
}
@media(max-width: 700px){
    .app-text h1{
        font-size: 20px;
        margin-left: -20px;
    }
    .app-text p{
        width: 650px;
        font-size: 10px;
        margin: 30px 0 30px -20px;
        line-height: 25px;
        color: #CDF1FF;
    }
    .app-picture{
        width: 0;
        float: right;
    }
    .app-picture img{
        width: 100%;
        margin-top: -20px;
        padding-left: 60px;
    }
    .banner{
        width: 80%;
        height: 30%;
        top: 30%;
        left: 77px;
        position: absolute;
        color: #fff;
    }

    nav img{
        margin: 20px;
        width: 70px;
    }
    .nav-links ul li{
        display: block;
    }
    nav{
        display: flex;
        margin: 0 20px;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .play-btn{
        margin-left: -20px;
        display: inline-flex;
    }
    .header{
        height: 100vh;
        background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/assets/images/Untitled-3.png);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}
/* about */
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}